<% @events.each do |event| %>
  <p> Creator: <%= event.creator.name %>
  <p> Date: <%= event.event_date %> Location: <%= event.location %> </p>
   <p>Description: <%= event.description %></p>
   <br>
<% end %>
